<div class="w-full h-full">
  <div class="h-20">
    <app-navbar></app-navbar>
  </div>

  <div class="container mx-auto">
    <div class="flex flex-col gap-10">
      <h1 class="h1">Search</h1>
      <div class="flex flex-row gap-4 items-center">
        <span class="text-passive italic">Search:</span>
        <input
          type="text"
          class="w-1/4 border border-black rounded focus:outline-none px-2"
          [formControl]="searchControl"
          #searchInputControl
          (keydown.enter)="getPosts(searchInputControl.value)"
        />
      </div>
      <ng-container *ngIf="searchResults">
        <ng-container *ngIf="searchResults.length > 0; else noPostsFound">
          <div class="flex flex-col gap-3">
            <ng-container *ngFor="let post of searchResults">
              <app-blog-search [blogPost]="post"></app-blog-search>
            </ng-container>
          </div>
        </ng-container>
        <div class="w-full">
          <nav aria-label="Page navigation example">
            <ul class="list-style-none flex gap-2">
              <li>
                <button
                  class="relative block rounded bg-transparent px-3 py-1.5 text-sm transition-all duration-300"
                  [ngClass]="
                    currentPage === 1 ? 'text-gray-400 cursor-not-allowed' : ''
                  "
                  [disabled]="currentPage === 1"
                  (click)="getPosts(searchInputControl.value, currentPage - 1)"
                >
                  Previous
                </button>
              </li>
              <li *ngFor="let page of pageNumbers">
                <button
                  [ngClass]="
                    currentPage === page
                      ? 'text-white bg-black rounded'
                      : 'hover:text-white hover:bg-black cursor-pointer'
                  "
                  [disabled]="currentPage === page"
                  (click)="getPosts(searchInputControl.value, page)"
                  class="relative block rounded bg-transparent px-3 py-1.5 text-sm transition-all duration-300"
                >
                  {{ page }}
                </button>
              </li>
              <li>
                <button
                  [disabled]="currentPage === totalPages"
                  (click)="getPosts(searchInputControl.value, currentPage + 1)"
                  class="relative block rounded bg-transparent px-3 py-1.5 text-sm transition-all duration-300"
                  [ngClass]="
                    currentPage === totalPages
                      ? 'text-gray-400 cursor-not-allowed'
                      : ''
                  "
                >
                  Next
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </ng-container>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<ng-template #noPostsFound>
  <div class="flex flex-col gap-4 w-full justify-center items-center">
    <h1 class="h1" *ngIf="searchInputControl.value !== ''">No posts found</h1>
    <span class="text-passive italic"
      >Try searching for something
      <span *ngIf="searchInputControl.value !== ''" class="text-passive italic"
        >else</span
      ></span
    >
  </div>
</ng-template>
