<app-loader></app-loader>

<app-save-lead-image
  *ngIf="isLeadImageModalOpen"
  [draftPost]="newDraft"
  (isModalClosed)="closeLeadImageModal($event)"
></app-save-lead-image>

<div class="h-20">
  <app-navbar></app-navbar>
</div>
<ng-container *ngTemplateOutlet="cancelPost"></ng-container>
<div class="container mx-auto w-full h-full p-10">
  <form [formGroup]="newBlogPostForm">
    <div class="w-full flex flex-col items-start justify-center gap-10">
      <div class="flex flex-row w-full gap-2">
        <div class="flex flex-col gap-10 w-full">
          <input
            formControlName="titleInputControl"
            type="text"
            class="border-b py-1 px-2 bg-transparent focus:outline-none w-1/2 focus:border-b-black text-2xl"
            placeholder="Title"
          />
          <input
            formControlName="summaryInputControl"
            type="text"
            class="border-b py-1 px-2 bg-transparent focus:outline-none w-1/2 focus:border-b-black text-2xl"
            placeholder="Summary"
          />
        </div>
        <div class="flex w-[30%] flex-col items-end">
          <a routerLink="/drafts" class="underline text-[blue] h-min"
            >Show All Drafts</a
          >
          <a
            class="underline text-[blue] h-min cursor-pointer"
            *ngIf="!checkIfNewDraftEmpty()"
            (click)="createNewDarft()"
            >New Post</a
          >
        </div>
      </div>
      <div class="w-full min-h-fit flex flex-row gap-5 divide-x-2">
        <div class="flex w-[calc(80%)]">
          <quill-editor
            formControlName="blogContentControl"
            format="html"
            [sanitize]="true"
            placeholder="Your awesome blog..."
            [trimOnValidation]="true"
            [styles]="{
              'min-height': '300px',
              'max-height': '80vh',
              
            }"
          ></quill-editor>
        </div>
        <div class="px-5 w-[calc(20%)] flex flex-col gap-5">
          <button
            class="btn btn-primary"
            (click)="openLeadImageModal()"
            type="button"
          >
            Add Lead Image
          </button>
          <img
            *ngIf="newDraft.leadImage"
            [src]="sanitizeUrls(newDraft.leadImage)"
            alt=""
            class="object-cover rounded shadow"
          />
          <button
            type="button"
            class="btn btn-secondary"
            [disabled]="!newDraft.leadImage"
            [ngClass]="newDraft.leadImage ? '' : 'btn-disabled'"
            (click)="removeLeadImage()"
          >
            Remove Lead Image
          </button>
        </div>
      </div>
      <div class="flex flex-row w-full justify-start gap-20 items-start">
        <div class="flex flex-row gap-2 items-center justify-start">
          <span class="peer">Category:</span>
          <div class="relative peer">
            <div
              class="w-64 border peer border-black px-2 py-1 rounded flex items-center justify-between"
            >
              {{ selectedBlogCategory || "Not Selected" }}
              <i class="bx bxs-chevron-down pb-1"></i>
            </div>
            <div
              class="absolute hidden peer-hover:block hover:block top-8 left-0 rounded bg-white z-50 w-full shadow"
            >
              <input
                type="text"
                class="hidden"
                formControlName="categoryInputControl"
              />
              <ul class="overflow-y-auto h-60">
                <li
                  *ngFor="let cat of category | keyvalue"
                  class="px-2 py-1 hover:bg-slate-200"
                  (click)="selectCategory(cat.key)"
                >
                  {{ cat.value }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="border border-black rounded w-full py-2 px-4 flex flex-col gap-2"
        >
          <div class="flex flex-row w-full gap-4 items-center">
            <span class="text-xl font-medium">Tags</span>
            <input
              name="Tags"
              id="Tags"
              class="bg-transparent focus:outline-none border rounded px-2"
              formControlName="tagsInputControl"
              (keydown.enter)="addTag(tagInput.value); tagInput.value = ''"
              #tagInput
              [ngClass]="tags.length > 10 ? 'border-red' : ''"
            />
            <button
              type="button"
              (click)="
                addTag(tagInput.value.toLowerCase()); tagInput.value = ''
              "
            >
              Add
            </button>
          </div>
          <div class="w-full h-full">
            <ul class="flex gap-2 flex-wrap">
              <li
                *ngFor="let tag of tags; index as i"
                class="bg-purple px-4 w-fit rounded-2xl flex items-center gap-2 text-white"
              >
                <span class="text-white">{{ tag }}</span>
                <i
                  class="bx bx-x text-white cursor-pointer"
                  (click)="removeTag(i)"
                ></i>
              </li>
            </ul>
          </div>
          <span
            class="text-sm italic"
            [ngClass]="
              tags.length > 10
                ? 'text-[red]'
                : tags.length === 10
                ? 'text-[green]'
                : ''
            "
            >{{ tags.length }}/10</span
          >
        </div>
      </div>
      <div class="w-full flex flex-row justify-end gap-2">
        <button
          type="button"
          class="btn btn-success-outline"
          (click)="previewBlogPost()"
          [disabled]="checkIfNewDraftEmpty()"
          [ngClass]="checkIfNewDraftEmpty() ? 'btn-disabled' : ''"
        >
          Preview
        </button>
        <button
          type="button"
          class="btn btn-primary-outline"
          [disabled]="checkIfNewDraftEmpty()"
          [ngClass]="checkIfNewDraftEmpty() ? 'btn-disabled' : ''"
          (click)="publishPost()"
        >
          Publish
        </button>
        <button
          type="button"
          class="btn btn-danger-outline w-36"
          *ngIf="!saveChangesLoader; else saveLoader"
          (click)="saveDraftPost()"
          [disabled]="checkIfNewDraftEmpty()"
          [ngClass]="checkIfNewDraftEmpty() ? 'btn-disabled' : ''"
        >
          Save Changes
        </button>
        <ng-template #saveLoader>
          <button class="btn btn-danger-outline w-36">
            <app-save-loader></app-save-loader>
          </button>
        </ng-template>
        <button
          type="button"
          (click)="openCancelPostModal()"
          class="btn btn-secondary-outline"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>

<ng-template #cancelPost>
  <div
    *ngIf="isCancelPostModalOpen"
    class="fixed top-0 left-0 h-screen w-screen bg-[rgba(0,0,0,0.4)] flex items-center justify-center z-50"
  >
    <div class="flex w-1/3 flex-col gap-3 rounded shadow p-10 bg-white">
      <h3 class="h3 text-center">Cancel Post</h3>
      <span class=""
        ><strong>Are you sure?</strong> Your changes will be lost.</span
      >
      <div class="flex flex-row gap-2 w-full justify-end">
        <button class="btn btn-warning" routerLink="/home">Discard Post</button>
        <button class="btn btn-secondary" (click)="closeCancelPostModal()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>
