<div class="h-20">
  <app-navbar></app-navbar>
</div>
<ng-container *ngTemplateOutlet="cancelPost"></ng-container>
<div class="container mx-auto w-full h-full p-10">
  <form [formGroup]="newBlogPostForm">
    <div class="w-full flex flex-col items-start justify-center gap-10">
      <div class="flex flex-row w-full gap-2">
        <div class="flex flex-col gap-10 w-full">
          <input
            formControlName="titleInput"
            type="text"
            class="border-b py-1 px-2 bg-transparent focus:outline-none w-1/2 focus:border-b-black text-2xl"
            placeholder="Title"
          />
          <input
            formControlName="summaryInput"
            type="text"
            class="border-b py-1 px-2 bg-transparent focus:outline-none w-1/2 focus:border-b-black text-2xl"
            placeholder="Summary"
          />
        </div>
        <div class="flex w-[30%]"></div>
      </div>
      <div class="w-full min-h-fit border border-black">
        <quill-editor
          formControlName="blogContentControl"
          format="html"
          [sanitize]="true"
          placeholder="Your awesome blog..."
          [trimOnValidation]="true"
          [styles]="{
            height: '100%',
            width: '100%',
            'min-height': '300px',
            'min-width': '100%',
            'max-height': '80vh'
          }"
        ></quill-editor>
      </div>
      <div class="w-full flex flex-row justify-end gap-2">
        <button class="btn btn-success-outline" (click)="previewBlogPost()">
          Preview
        </button>
        <button class="btn btn-danger-outline" (click)="saveDraftPost()">
          Save Changes
        </button>
        <button
          (click)="openCancelPostModal()"
          class="btn btn-secondary-outline"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>

<ng-template #cancelPost>
  <div
    *ngIf="isCancelPostModalOpen"
    class="fixed top-0 left-0 h-screen w-screen bg-[rgba(0,0,0,0.4)] flex items-center justify-center z-50"
  >
    <div class="flex w-1/3 flex-col gap-3 rounded shadow p-10 bg-white">
      <h3 class="h3 text-center">Cancel Post</h3>
      <span class=""
        ><strong>Are you sure?</strong> Your changes will be lost.</span
      >
      <div class="flex flex-row gap-2 w-full justify-end">
        <button class="btn btn-warning" routerLink="/home">Discard Post</button>
        <button class="btn btn-secondary" (click)="closeCancelPostModal()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>
