<div
  class="block w-[18rem] cursor-pointer rounded-lg bg-white shadow-xl"
  (click)="openBlog()"
>
  <div class="relative overflow-hidden bg-cover bg-no-repeat max-h-80">
    <img
      class="rounded-t-lg object-cover"
      [src]="sanitizeImageUrl(blogPost.leadImage)"
      alt="img"
    />
  </div>
  <div class="p-6">
    <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800">
      {{ blogPost.title }}
    </h5>
    <p class="text-base text-neutral-600 text-ellipsis overflow-hidden">
      {{ blogPost.summary }}
    </p>
  </div>
</div>
