<div
  class="fixed left-0 top-0 h-screen w-screen bg-[rgba(0,0,0,0.4)] flex items-center justify-center z-50"
  (click)="closeModal($event)"
>
  <div
    #modalContent
    class="flex flex-col gap-5 relative items-center justify-center w-1/2 rounded shadow-xl p-10 bg-white"
  >
    <span
      class="absolute top-5 right-8 cursor-pointer"
      (click)="isModalClosed.emit(false)"
      >Close</span
    >
    <h1 class="h2">Upload Lead Image</h1>
    <div class="w-1/2 overflow-hidden rounded">
      <img [src]="leadImageUrl" alt="" />
    </div>
    <input type="file" class="hidden" #imageInput />
    <div class="flex flex-row gap-2">
      <button class="btn btn-primary" (click)="imageInput.click()">
        Upload
      </button>
      <button
        class="btn btn-secondary"
        [disabled]="!leadImageUrl"
        [ngClass]="leadImageUrl ? '' : 'btn-disabled'"
      >
        Remove
      </button>
    </div>
  </div>
</div>
