<app-delete-modal
  *ngIf="showDeleteModal"
  [multipleDrafts]="this.selectedDrafts.size > 1"
  (closeDeleteModal)="closeDeleteModal($event)"
  (refreshDrafts)="refreshDrafts($event)"
  [selectedDrafts]="selectedDrafts"
></app-delete-modal>

<div class="w-full h-full bg-white">
  <div class="h-20">
    <app-navbar></app-navbar>

    <div class="container mx-auto mt-10" *ngIf="user">
      <div class="flex flex-row justify-between items-center w-full my-10">
        <h1 class="h1">Drafts</h1>
        <button class="btn-danger-outline btn" (click)="newPost()">
          New Post
        </button>
      </div>
      <div class="flex flex-col gap-5">
        <div class="flex flex-row gap-2 items-center justify-start">
          <div class="flex items-center justify-center gap-1 mb-1 mr-10">
            <input
              type="checkbox"
              class="peer"
              name="selectAll"
              id="selectAll"
              #selectAllInput
              (change)="addAllToSet($event)"
            />
            <label
              for="selectAll"
              class="pt-[1px] text-passive peer-checked:text-black"
              >Select All</label
            >
          </div>
          <button [disabled]="!checkIfAnySelected()" (click)="deleteDrafts()">
            <i
              class="bx bxs-trash-alt bx-sm"
              [ngClass]="
                checkIfAnySelected() ? '' : 'text-gray-500 pointer-events-none'
              "
            ></i>
          </button>
        </div>
        <ng-container *ngIf="draftPosts.length > 0; else noDrafts">
          <div
            *ngFor="let draft of draftPosts"
            class="w-full flex flex-row gap-1 px-4 rounded bg-white shadow"
          >
            <input
              type="checkbox"
              name="draftSelector"
              #checkBox
              (change)="addToSet($event, draft)"
            />
            <div class="w-full">
              <app-draft-card [draftPost]="draft"></app-draft-card>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>

<ng-template #noDrafts>
  <div class="w-full flex flex-col items-center justify-center">
    <h1 class="text-3xl">No Drafts Found</h1>
  </div>
</ng-template>
