<!-- <app-subscribe-modal
  (closeModal)="closeSubscribeModal($event)"
  *ngIf="!isModalClosed"
></app-subscribe-modal> -->

<div class="container mx-auto mt-10 flex flex-col gap-32">
  <div class="flex flex-col items-center p-10" id="new">
    <app-hero-latest-posts [blogDetails]="blogDetails"></app-hero-latest-posts>
  </div>
  <div class="w-full" id="readingList">
    <app-reading-lists></app-reading-lists>
  </div>
  <div class="flex flex-col gap-8" *ngIf="popularPosts.length > 0">
    <div class="flex flex-row justify-between items-center">
      <span class="title1" id="popular">Popular</span>
    </div>
    <div class="grid grid-cols-4 gap-4">
      <div
        routerLink="/post"
        [queryParams]="{ id: popularPosts[0]._id }"
        class="shadow rounded-[8px] col-span-2 row-span-2 overflow-hidden cursor-pointer"
      >
        <div class="relative w-full h-full">
          <div
            class="absolute left-0 top-0 w-full h-full px-5 py-3 landingPicText rounded-[8px] transition-all duration-300 ease-in-out peer z-10"
          >
            <p class="landingPicAuthor text-white">
              BY {{ popularPosts[0].author.name }} in
              {{ popularPosts[0].category }}
            </p>
            <p class="landingPicHeading text-white">
              {{ popularPosts[0].title }}
            </p>
            <p class="landingPicContent text-white">
              {{ popularPosts[0].summary }}
            </p>
          </div>
          <div class="overflow-hidden h-72 flex items-center">
            <img
              [src]="sanitizeUrls(popularPosts[0].leadImage)"
              class="w-full h-full object-cover"
              alt="image"
            />
          </div>
        </div>
      </div>
      <div
        routerLink="/post"
        [queryParams]="{ id: post._id }"
        *ngFor="let post of popularPosts.slice(1, popularPosts.length)"
        class="shadow rounded-[8px] p-5 flex flex-col justify-center gap-3 font-semibold cursor-pointer"
      >
        <p class="text-passive text-base uppercase font-normal">
          {{ post.title }}
        </p>
        <p class="text-default text-lg">
          {{ post.summary }}
        </p>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col justify-start gap-8"
    *ngIf="randomPost.length > 0"
    routerLink="/post"
    [queryParams]="{ id: randomPost[0]._id }"
  >
    <h1 class="title1">Random</h1>
    <div class="flex flex-row">
      <div class="flex-1 bg-white rounded-l-[8px] shadow p-10">
        <p class="landingPicAuthor">
          BY {{ randomPost[0].author.name }} in {{ randomPost[0].category }}
        </p>
        <p class="landingPicHeading">
          {{ randomPost[0].title }}
        </p>
        <p class="landingPicContent">
          {{ randomPost[0].summary }}
        </p>
      </div>
      <div class="overflow-hidden flex-1">
        <div class="overflow-hidden h-72 flex items-center">
          <img
            [src]="sanitizeUrls(randomPost[0].leadImage)"
            class="w-full h-full object-cover"
            alt="image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
