<div class="h-20">
  <app-navbar></app-navbar>
</div>

<div class="container mx-auto h-full w-full">
  <div
    class="flex flex-col w-full items-center justify-center"
    *ngIf="publicUser"
  >
    <div class="flex flex-col gap-10 w-full">
      <ng-container *ngTemplateOutlet="publicUserInfo"></ng-container>
      <!-- <div class="w-[30rem] h-full">
        <h5 class="h5">Latest Posts</h5>
        <div
          class="w-full max-h-72 h-full p-10 bg-white rounded flex flex-col gap-4 items-start justify-center overflow-auto"
        >
          <ng-container *ngFor="let blog of blogPosts">
            <div class="w-full">
              <a [routerLink]="['/post']" [queryParams]="{ id: blog._id }">
                <app-new-card [blogDetails]="blog"></app-new-card>
              </a>
            </div>
          </ng-container>
        </div>
      </div> -->
      <ng-container *ngTemplateOutlet="posts"></ng-container>
    </div>
  </div>
</div>

<app-footer></app-footer>

<ng-template #publicUserInfo>
  <div
    class="rounded bg-white flex flex-col justify-center items-center w-full h-full gap-4 p-10"
  >
    <div>
      <img
        *ngIf="publicUser.profilePicture; else noPic"
        [src]="sanitizeUrls(publicUser.profilePicture)"
        alt="Profile Picture"
        class="rounded-full w-32 h-32 object-cover"
      />
      <ng-template #noPic>
        <div
          class="w-32 h-32 rounded-full bg-purple text-white text-7xl font-medium flex items-center justify-center"
        >
          {{ publicUser.name[0] }}
        </div>
      </ng-template>
    </div>
    <p class="text-xl">{{ publicUser.name }}</p>
    <p>
      <span
        class="text-passive w-72 block text-center break-words"
        [innerHTML]="publicUser.bio"
      ></span>
    </p>
    <p>
      <span class="">Followers: {{ publicUser.followerCount }}</span>
    </p>
    <div class="flex flex-row gap-2 items-center">
      <i class="bx bxl-facebook-circle bx-sm text-gray-500"></i>
      <i class="bx bxl-twitter bx-sm text-gray-500"></i>
      <i class="bx bxl-linkedin bx-sm text-gray-500"></i>
      <i class="bx bxl-instagram-alt bx-sm text-gray-500"></i>
    </div>
    <div class="flex flex-row gap-2 items-center">
      <button
        class="btn btn-danger-outline-curve"
        [ngClass]="isPreview ? 'cursor-not-allowed' : ''"
        *ngIf="!publicUser.isFollowing"
        (click)="follow()"
      >
        Follow
      </button>
      <button
        class="btn btn-danger-outline-curve"
        *ngIf="publicUser.isFollowing"
        [ngClass]="isPreview ? 'cursor-not-allowed' : ''"
        (click)="unfollow()"
      >
        Unfollow
      </button>
    </div>
  </div>
</ng-template>

<ng-template #heroPost>
  <div class="overflow-hidden rounded-[8px]" *ngIf="this.blogPosts.length > 0">
    <div
      class="absolute left-0 top-0 w-full h-full px-5 py-3 landingPicText rounded-[8px] transition-all duration-300 ease-in-out peer z-10"
    >
      <div class="flex flex-col">
        <p class="landingPicAuthor text-white">
          BY {{ blogPosts[0].author.name | uppercase }} IN
          {{ blogPosts[0].category | uppercase }}
        </p>
        <p class="landingPicHeading text-white">
          {{ blogPosts[0].title | uppercase }}
        </p>
      </div>
      <p class="landingPicContent text-white">
        {{ blogPosts[0].summary }}
      </p>
    </div>
    <div
      class="max-h-[450px] overflow-hidden filter peer-hover:blur transition-all duration-300 ease-in-out"
    >
      <img
        [src]="sanitizeUrls(blogPosts[0].leadImage)"
        alt="Landing Pic"
        class="rounded-[8px] filter peer-hover:blur transition-all duration-300 ease-in-out z-0 landingPic"
      />
    </div>
  </div>
</ng-template>

<ng-template #posts>
  <div class="w-full bg-white rounded shadow py-10">
    <h1 class="h1 text-center">Blog Posts</h1>
    <div class="flex flex-row gap-4 overflow-x-auto mt-10 px-10">
      <ng-container *ngIf="blogPosts.length > 0; else noBlogPosts">
        <ng-container *ngFor="let post of blogPosts">
          <div class="py-4">
            <a [routerLink]="['/post']" [queryParams]="{ id: post._id }">
              <app-blog-card [blogPost]="post"></app-blog-card>
            </a>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #noBlogPosts>
  <div class="text-2xl font-medium text-center w-full">No Blog Posts Found</div>
</ng-template>
