<app-image-upload
  (closeModal)="closeModal($event)"
  *ngIf="!isModalClosed"
></app-image-upload>

<div class="container mx-auto w-full h-full">
  <div class="flex flex-col p-10 gap-10 h-full">
    <div class="flex flex-row w-full justify-between items-center">
      <h1 class="h1">Profile</h1>
      <a
        [routerLink]="['/user/public']"
        [queryParams]="{ preview: true, id: user._id }"
        [queryParamsHandling]="'merge'"
        class="underline text-[blue] text-sm"
        >Preview Public Profile</a
      >
    </div>
    <div class="flex flex-row gap-4">
      <div class="flex flex-row gap-4 flex-grow-[1] items-center justify-start">
        <div class="w-32 h-32 rounded-full relative">
          <img
            *ngIf="user.profilePicture; else profileNameTag"
            [src]="sanitizeUrls(user.profilePicture)"
            alt=""
            class="w-full h-full rounded-full z-0 overflow-clip object-cover"
          />
          <ng-template #profileNameTag>
            <span
              class="w-full h-full rounded-full z-0 overflow-clip flex items-center justify-center h1 bg-purple text-white"
              >{{ user.name[0] }}</span
            >
          </ng-template>
          <div
            class="absolute transition-all duration-300 ease-in-out top-0 left-0 border rounded-full flex items-center justify-center opacity-0 hover:opacity-100 bg-[rgba(255,255,255,0.8)] w-full h-full z-10 cursor-pointer"
            (click)="isModalClosed = false"
          >
            <span class="text-xl font-bold">Edit</span>
          </div>
        </div>
        <div class="relative pb-5">
          <div class="flex flex-col gap-1">
            <input
              type="text"
              name="nameInput"
              id="nameInput"
              [value]="user.name"
              class="title2 bg-transparent border border-t-0 border-r-0 border-l-0 focus:outline-none w-fit overflow-ellipsis mr-8 transition-all duration-500 ease-in-out"
              [disabled]="!allowNameChange"
              [size]="nameInput.value.length + 4"
              [ngClass]="allowNameChange ? 'border-black' : ''"
              (keydown.enter)="saveNameChange()"
              #nameInput
            />
            <span class="italic text-sm text-[gray]">{{ user.email }}</span>
            <span
              class="text-[red] italic font-normal text-sm absolute bottom-0"
              *ngIf="blankNameError"
              >Name can't be blank</span
            >
            <span
              class="text-[green] italic font-normal text-sm absolute bottom-0"
              *ngIf="isNameUpdated"
              >Successfully updated</span
            >
          </div>
          <span class="absolute right-0 top-4"
            ><label for="nameInput"
              ><i
                class="bx bxs-edit-alt bx-sm cursor-pointer"
                (click)="allowNameChange = true; focusOnNameInput()"
                *ngIf="!allowNameChange"
              ></i
              ><i
                class="bx bxs-save bx-sm cursor-pointer"
                *ngIf="allowNameChange"
                (click)="saveNameChange()"
              ></i></label
          ></span>
        </div>
      </div>
      <div
        class="cursor-default flex items-center justify-center flex-col gap-2"
      >
        <div
          class="rounded-[40px] bg-red text-white w-44 px-4 py-3 flex items-center justify-start"
        >
          <span class="text-white flex gap-2 items-center justify-start"
            ><i class="bx bxs-party bx-sm text-white"></i>Followers:
            {{ user.followerCount || 0 }}</span
          >
        </div>
        <div
          class="rounded-[40px] bg-green text-white w-44 px-4 py-3 flex items-center justify-start"
        >
          <span class="text-white flex gap-2 items-center justify-start"
            ><i class="bx bx-glasses-alt bx-sm text-white"></i>Views:
            {{ user.views || 0 }}</span
          >
        </div>
      </div>
    </div>
    <hr />
    <div class="flex flex-row justify-between gap-10 divide-x-2">
      <div class="flex flex-col w-[calc(100%-15rem)] grow-0 gap-10">
        <div class="flex flex-col">
          <div class="flex flex-row gap-4 items-center w-full justify-between">
            <h2 class="h2">Bio</h2>
            <span
              class="underline text-[blue] cursor-pointer"
              (click)="openBioEditor()"
              *ngIf="allowEditBio === false"
              >Edit</span
            >
          </div>
          <div class="flex flex-col">
            <div class="w-full flex flex-row justify-end" *ngIf="isBioUpdated">
              <span class="text-[green] italic font-normal text-sm"
                >Successfully updated</span
              >
            </div>
            <div class="w-full flex flex-row justify-end" *ngIf="blankBioError">
              <span class="text-[red] italic font-normal text-sm"
                >Bio cannot be blank</span
              >
            </div>
            <p *ngIf="allowEditBio === false" #userBioData>
              <span [innerHTML]="user.bio" id="userBio"></span>
            </p>
            <div *ngIf="allowEditBio === true" class="flex flex-col gap-4">
              <div class="flex flex-col h-full w-full gap-2" #editBioBound>
                <quill-editor
                  [formControl]="bioFormControl"
                  format="html"
                  [bounds]="editBioBound"
                  [customToolbarPosition]="'top'"
                  [placeholder]="'Write your awesome bio here...'"
                  [scrollingContainer]="editBioBound"
                  [modules]="textEditorModules"
                  [sanitize]="true"
                  [maxLength]="250"
                  [trimOnValidation]="true"
                  [required]="true"
                  [customToolbarPosition]="'bottom'"
                >
                </quill-editor>
                <div class="w-full flex flex-row justify-end">
                  <span
                    class="italic text-sm font-light"
                    [ngClass]="
                      bioFormControl.value?.length! < 250 ? '' : 'text-[red]'
                    "
                    >Character Count:
                    {{ bioFormControl.value?.length }}/250</span
                  >
                </div>
              </div>
              <div class="flex flex-row gap-4">
                <button
                  class="btn btn-danger-outline w-24"
                  (click)="updateBio()"
                >
                  Save
                </button>
                <button
                  class="btn btn-secondary-outline w-24"
                  (click)="allowEditBio = false"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="flex flex-col">
          <h2 class="h2">Blogs</h2>
          <div class="flex items-center justify-center">
            <ng-container *ngTemplateOutlet="blogCarousel"></ng-container>
          </div>
        </div>
      </div>
      <ng-container *ngTemplateOutlet="settingsTemplate"></ng-container>
    </div>
  </div>
</div>

<ng-template #settingsTemplate>
  <div class="h-full w-60 shrink-0 px-2 py-5">
    <h5 class="text-xl py-3 w-full items-center justify-start px-4 flex">
      Settings
    </h5>

    <div class="flex flex-col gap-1">
      <ng-container>
        <div
          (click)="openPasswordChangeModal()"
          class="flex flex-row gap-2 h-10 px-2 items-center justify-start hover:bg-white hover:border transition-all duration-200 ease-in-out rounded cursor-pointer border border-transparent"
        >
          <i class="bx bxs-lock bx-sm mb-1"></i>
          <span class="text-sm">Change Password</span>
        </div>
        <div
          class="flex flex-row gap-2 h-10 px-2 items-center justify-start hover:bg-white hover:border transition-all duration-200 ease-in-out rounded cursor-pointer border border-transparent"
        >
          <i class="bx bxs-trash-alt bx-sm mb-1"></i>
          <span class="text-sm">Delete Account</span>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<app-change-password
  *ngIf="isPasswordChangeModalOpen"
  [user]="user"
  (closeModal)="closePasswordChangeModal($event)"
></app-change-password>

<ng-template #blogCarousel>
  <swiper
    *ngIf="blogPosts.length > 0; else noBlogPosts"
    [config]="swiperConfig"
    class="w-1/2 bg-white rounded flex items-center justify-center"
  >
    <ng-container>
      <ng-template swiperSlide *ngFor="let blog of blogPosts">
        <a [routerLink]="'/post'" [queryParams]="{ id: blog._id }">
          <div
            slot=""
            class="w-full h-full rounded flex flex-col items-center justify-center overflow-hidden"
          >
            <div class="flex items-center justify-center overflow-hidden h-60">
              <img
                [src]="sanitizeUrls(blog.leadImage)"
                alt="Lead Img"
                class="object-cover filter hover:blur transition-all duration-300 ease-in-out"
              />
            </div>
            <div class="bg-white p-5 w-full">
              <h1 class="title2">{{ blog.title }}</h1>
              <p class="text-passive italic text-sm">
                {{ blog.publishDate | date }}
              </p>
              <p class="overflow-hidden text-ellipsis mt-3">
                {{ blog.summary }}
              </p>
            </div>
          </div>
        </a>
      </ng-template>
    </ng-container>
  </swiper>
</ng-template>

<ng-template #noBlogPosts>
  <div class="text-2xl font-medium text-center mt-10">No Blog Posts Found</div>
</ng-template>
